.switchbox
{
  background: red;
  min-height: 400px;
  min-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.switchbutton
{
  position: absolute;
  top: 48%;
  left: 44%;
  border-radius: 0;
}
.switch-status
{
  border: 1px solid #CCC;
  padding: 15px;
}
.switch-rows,.new-switch
{
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.switch-rows ul,.new-switch ul
{
  list-style: none;
  padding-left: 0;
}
.switch-rows ul li,.new-switch ul li
{
  padding: 10px;
}
.switch-rows ul li:nth-child(even)
{
  background: #000;
}
.switch-rows ul li:nth-child(odd)
{
  background: #808080;
}
.new-switch ul li:nth-child(even)
{
  background: #808080;
}
.new-switch ul li:nth-child(odd)
{
  background: #000;
}